.content {
  position: absolute;
  top: 80px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.rContain {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
  box-sizing: border-box;
  height: 400px;
  border-bottom: 1px solid #334bf8;
  border-radius: 12px;
  background: linear-gradient(rgb(39, 39, 39), #292929b1);
  /* width: 0px; */
}

.nameAchter {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.04em;
  margin-top: 12px;
  margin-bottom: 12px;
  /* scrollbar-width: 100px; */
  /* width: ; */
}
