.title {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 24px;
}
